.footer {
  background-color: rgba(36, 0, 70, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 2rem 1rem;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  width: 100%;
  max-width: 1200px;
  margin-top: 2rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
    margin-top: 2rem;
    align-items: start;
}

.brand {
  max-width: 30rem;
}

.content{
    max-width: 30rem;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    hyphens: auto;
    text-align: justify;
    align-items: flex-start;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.highlight {
  color: #e1b8f0;
}

/* Estilização FooterLinks */

.link_title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #e1b8f0;
  margin-bottom: 0.5rem;
}

.list {
  list-style: none;
  padding: 0;
}

.list li {
  margin-bottom: 0.5rem;
}

.list a {
  color: white;
  text-decoration: none;
}

.list a:hover {
  text-decoration: underline;
}

/* Bottom estilização */

.footer_bottom{
 display: flex;
justify-content: space-between;
gap: 30rem;
  text-align: center;
  margin-top: 1.5rem;
  border-top: 2px solid rgba(240, 184, 242, 0.2);
  padding-top: 1rem;
  font-size: 0.9rem;
}

.Bottom_Link{
  display: flex;
  justify-content: center;
  gap: 3rem; 
}
.Bottom_Link a{
  color: #e1b8f0;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .footer {
    font-size: 0.9rem;
  }

  .link_title {
    font-size: 1.2rem;
  }

  .logo {
    font-size: 1.5rem;
  }

  .footer_bottom {
    font-size: 0.7rem;
    gap:20rem;
  }
  .footer_container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .footer_bottom {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  .Bottom_Link {
    flex-direction: column;
    gap: 1rem;
  }
}